<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
    <title>Информация о заказчике</title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <div id="customerInfo">
        <h4 th:text="${customer.getName()}"></h4>
        <p th:if="${customer.getPhone() != null && customer.getPhone().length() != 0}" th:text="'Телефон: ' + ${customer.getPhone()}"></p>
        <p th:if="${customer.getEmail() != null && customer.getEmail().length() != 0}" th:text="'Электронная почта: ' + ${customer.getEmail()}"></p>
        <p th:if="${customer.getAddress() != null && customer.getAddress().length() != 0}" th:text="'Адрес: ' + ${customer.getAddress()}"></p>
        <p th:if="${customer.getDescription() != null && customer.getDescription().length() != 0}" th:text="'Описание: ' + ${customer.getDescription()}"></p>

        <p> Последние заказы:&nbsp <span th:if="${ordersService.getAllOrdersByCustomer(customer.getName()) == null}">нет</span>
            <a th:each="order, iter: ${ordersService.getAllOrdersByCustomer(customer.getName())}" th:href="'/order?orderId=' + ${order.getId()}">
                <span th:text="${order.getShip_date()} + ${!iter.last ? ',' : ''}"></span>
            </a>
        </p>

    </div>

    <!--edit delete order button group-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form style="margin-right: 30px" method="get" action="/editCustomer">
                <input type="hidden" name="customerId" th:value="${customer.getId()}"/>
                <button id="editButton" type="submit" class="btn btn-secondary">Редактировать информацию о заказчике</button>
            </form>
            <form method="post" action="/removeCustomer">
                <input type="hidden" name="customerId" th:value="${customer.getId()}"/>
                <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить заказчика из базы</button>
            </form>
        </div>
    </div>
    <!--end of button group-->

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>